body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    color: #333;
}

.proposal-container {
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #f3f3f3;
}

h2 {
    font-size: 28px;
    color: #f6c700; /* Amarelo do BabyBuddy */
    margin-bottom: 15px;
}

h3 {
    font-size: 22px;
    margin-top: 20px;
    color: #f6c700; /* Amarelo do BabyBuddy */
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

strong {
    color: #333;
}

.messages {
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-bottom: 20px;
}

.messages p {
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.messages p:nth-child(odd) {
    background-color: #f1f1f1;
}

form {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 14px;
    resize: none;
    background-color: #f9f9f9;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

textarea:focus {
    border-color: #f6c700; /* Cor do BabyBuddy no foco */
    box-shadow: 0 0 5px rgba(246, 199, 0, 0.7);
    outline: none;
}

button {
    padding: 12px 18px;
    background-color: #f6c700; /* Amarelo BabyBuddy */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e6b800; /* Amarelo mais escuro */
}

.back-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 14px 22px;
    background-color: #00b77a; /* Verde suave para combinar com o BabyBuddy */
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 183, 122, 0.1); /* Sombra mais suave */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-btn:hover {
    background-color: #00a66c; /* Verde mais claro para hover */
    box-shadow: 0 4px 12px rgba(0, 183, 122, 0.2); /* Sombra mais sutil no hover */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #f6c700; /* Amarelo BabyBuddy */
    color: #fff;
}

table td {
    background-color: #f9f9f9;
}

table td a {
    color: #f6c700;
    text-decoration: none;
    font-weight: bold;
}

table td a:hover {
    text-decoration: underline;
}
